{% extends "index.html" %} 
{% block title %} Car Info {% endblock %} 

{% block content %}
<section class="mt-32 flex flex-col gap-4 justify-center items-center">
    <div>
        <h1 class="text-lg md:text-xl lg:text-2xl dark:text-white xl:text-3xl text-slate-700/80"> Here you can see your products in your car </h1>
    </div>
    <div class="products-card-content flex flex-col gap-4 my-10">

    </div>

    <div id="total-paid"> </div>

    <div class="flex flex-wrap gap-5 my-5">
        <button id="btn-clear" class="rounded-lg bg-red-600 text-white w-36 p-3 hover:scale-105"> Clear Car </button>
        <button id="btn-pay" class="rounded-lg bg-sky-600 text-white w-36 p-3 hover:scale-105"> Pay Now </button>
    </div>

</section>


{% endblock %}