.home-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to top right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url("/static/assets/banner-image.jpg");
}

li:hover {
  transition-duration: 2s ease-in-out;
}

/* @keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes auto-typing {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
 */
.home-container {
  animation: fade-in 1.5s ease-in;
}

.home-container h1 {
  animation: auto-typing 4s infinite;
}

.border {
  border: 1px solid red;
}

/* switch button styles */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--switch-bg);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: var(--switch-knob);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--switch-bg);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.theme-switch-wrapper .fa-sun {
  margin-right: 7px;
  color: var(--text-color);
}

.theme-switch-wrapper .fa-moon {
  margin-left: 7px;
  color: var(--text-color);
}

.red-dot {
  position: absolute;
  top: -3px;
  right: -3px;
  width: 8px;
  height: 8px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
}

/* para los textos de hero */

.social-text {
    transform: rotate(90deg);
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: bold; 
    color: rgba(71, 85, 105, 0.8);
    font-size: 0.875rem; 
}

@media (min-height: 900px) {
    .social-text {
        font-size: 1rem;
    }
}

/* para el hero */
.hero-container {
    width: 500px;
    height: 500px;
    background-color: rgba(246, 247, 248, 0.863);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    position: relative;
    border-width: 1.5px;
}

.hero-title {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.25;
}

@media (min-height: 900px) {
    .hero-container {
        width: 600px;
        height: 600px;
        line-height: 1.25;
    }

    .hero-title {
        font-size: 3.5rem; /* text-6xl */
    }
}


/* for slider carousel */
.swiper-button-next::after,
.swiper-button-prev::after,
.recommend-swiper-button-next::after {
  display: none !important;
}

.swiper-button-prev,
.swiper-button-next,
.recommend-swiper-button-prev,
.recommend-swiper-button-next {
  position: static !important; 
  margin: 0 !important;
  padding: 0 !important;
  background: none !important;
  border: none !important;
  color: inherit !important;
  font-size: inherit !important;
  line-height: normal !important;
  box-shadow: none !important;
  cursor: pointer !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: all 0.2s ease-linear !important;
  border-radius: 50% !important;
  background-color: #f97316 !important;
  border: 1px solid #d1d5db !important;
  color: #ffffff !important;
  width: 35px !important;
  height: 35px !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover,
.recommend-swiper-button-prev:hover,
.recommend-swiper-button-next:hover {
  background-color: #ea580c !important;
}


/* SHOP BY BRANDS SECTION */

.container-brands {
    display: flex;
    gap: 20px;
}

/* estilo de los contenedores */
.box {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: #41c8c4;
    border-radius: 50% 50% 40% 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* estilo del logo dentro del contenedor */
.box img {
    max-width: 80px;
}

/* estilo decorativo con pseudo-elementos */
.box::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 60px;
    background-color: #e0f7f7;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    transform: rotate(30deg);
}

.h-screen-minus-navbar {
  height: calc(100vh - 80px);
}