*{
    padding: 0;
    margin : 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

.home-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    background-image: linear-gradient(
        to top right,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
),url("https://static.vecteezy.com/system/resources/previews/002/563/549/original/white-3d-pedestal-background-with-realistic-palm-leaves-for-cosmetic-product-presentation-or-fashion-magazine-free-vector.jpg");
}

li:hover{
    transition-duration: 2s ease-in-out;
}


@keyframes fade-in {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

@keyframes auto-typing{
    0% {width: 0;}
    50% {width: 50%;}
    100% {width: 100%;}
}

.home-container{
    animation: fade-in 1.5s ease-in;
}

.home-container h1 {
    animation: auto-typing 4s infinite;
}

.card-container:hover{
    transition-duration: 2s ease-in-out;
    cursor: pointer;
    transform: scale(1.05);
}



.image-card {
    position: relative;
    display: inline-block;
  }
  
  .image-card img {
    display: block;
    height: auto;
    transition: filter 0.3s ease;
  }
  
  .image-card .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
  }
  
  .image-card:hover img {
    filter: brightness(0.7);
  }
  
  .image-card:hover .text-overlay {
    opacity: 1;
  }
  
